body {
    margin: 0;
    padding: 0;
}

#header{
    height: 1000px;
    width: auto;
    background-image: url(./header.png);
    background-repeat: no-repeat;
}

#logo img{
    position: absolute;
    top: 50px;
    right: 485px;
    left: 165px;
}

#menu{
    position: absolute;
    height: 24px;
    top: 57px;
    right: 165px;
    display: inline-flex;
} 

.box{
    width: auto;
    height: 24px;
}

.box p{
    margin-right: 38px;
    margin-top: 12px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px #b4b1b1;
    color: rgb(38, 38, 38);
    line-height: 1.563;
} 

.box p:hover{
    border-top: 3px solid orangered;
    box-sizing: border-box;
}

.FreshLife {
    font-size: 45px;
    font-family: "Raleway", sans-serif;
    color: rgb(38, 38, 38);
    line-height: 0.417;
    text-align: left;
    position: absolute;
    left: 158.937px;
    top: 363px;
    font-weight: bold;
  }
 
.text {
    font-size: 17px;
    font-family: "Raleway", sans-serif;
    color: rgb(38, 38, 38);
    line-height: 1.588;
    position: absolute;
    left: 164.175px;
    top: 455px;
    width: 368px;
    height: 70px;
}
  
input[value="Get Free Now"]{
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.35;
    position: absolute;
    left: 188.92px;
    background-color: rgb(255, 96, 51);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    border:none;
    left: 165px;
    top: 555px;
    width: 200px;
    height: 55px;
}
  
.section {
    height: 700px;
    background-color: #00b9b9;
}
.section img{
    position: absolute;
    /* left: 60px; */
    margin-top: 40px;
}
.AboutUs {
    font-size: 80px;
    font-family: "Raleway", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 0.3;
    position: absolute;
    left: 780px;
    top: 1250px;
}

.about p{ 
    position: absolute;
    width: 400px;
    height: 188px;
    font-size: 17px;
    font-family: "Raleway", sans-serif;
    font-weight: 10;
    color: rgb(255, 255, 255);
    line-height: 1.588;
    text-align: left;
    margin-top: 45px;
    
}

.services{
    height: 790px;
    background-color: #70bfff;
    padding-top: 180px;
}

.services__box{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
    width: 400px;
    height: 100px;
    left: 265px;
    top: 1979px;
    margin-left: 213px;
}

.services__box .line {
    position: relative; 
    background-color: rgb(157, 157, 157);
    left: 300px;
    top: -74px;
    width: 1px;
    height: 100px;
    z-index: 102;
}

.services img{
    position: absolute;
    left: 536px;
    margin-top: -50px;
}

.services__box p{
  width: 241px;
  height: 54px;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  color: rgb(38, 38, 38);
  font-weight: bold;
  line-height: 1.35;
  text-align: center;
  left: 338.93px;
  top: 2061.698px;
  padding-top: 33px;
  margin-left: 20px;
  box-sizing: border-box;
}
img[src="tomato.png"] {
    position: absolute;
    right: 165px;
    left: 761px;
    top: 1901px;
}

.tomato p{
    font-size: 90px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 1978px;
    right: 80px;
}
.gallery{
    height: 1536px;
    background-color: #ffe92f;
    padding-top: 1px;
}
.title p{
    font-size: 90px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    text-align: center;
    color: #262626;
    margin-bottom: 130px;
}
.gallery_descr {
    position: absolute;
    top: 2381px;
    left: 249px;
    
}
.gallery_descr p{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 550px;
}

.images {
    width: 1170px;
    height: 985px;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
}

img[src="gallery_1.png"]{
    margin-top: -5px;
    margin-left: -9px;
}

img[src="gallery_2.png"]{
    position: absolute;
    margin-top: -2px;
    margin-left: 8px;
}

img[src="gallery_3.png"]{
    margin-top: 0px;
    margin-left: 8px;
    padding-bottom: 8px;
}

img[src="gallery_4.png"]{
    margin-top: -2px;
    margin-left: -4px;
}

img[src="gallery_5.png"]{
    margin-top: -2px;
    margin-left: 14px;
}

input[value="VIEW MORE"]{
    background-color: #5585a2;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 100;
    width: 200px;
    height: 55px;;
    margin-left: 572px;
    margin-top: 20px;
    line-height: 1.35;

}

.subscribe {
    height: 500px;
    background-image: url(./subscribe_bckgrnd.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-right: 0px;
    margin-left: 0px;
    
}

.sub_title {
    float: left;
    margin-top: 100px;
    margin-left: 100px;
    clear: both;
}

.sub_title p{
    font-size: 40px;
    font-family: "Raleway", sans-serif;
    color: rgb(38, 38, 38);
    font-weight: bold;
    line-height: 0.675;
    text-align: right;
    margin-left: 0px;
}

.sub_descr p{
    width: 545px;
    height: 50px;
    position: absolute;
    top: 4387px;
    left: 94px;

    font-size: 17px;
    font-family: "Raleway", sans-serif;
    color: rgb(38, 38, 38);
    line-height: 1.588;
    text-align: left;
    position: absolute;
}

  input[name="email"] {
    width: 570px;
    height: 53px;
    position: relative;
    top: 308px;
    left: -319px;
}

::placeholder {
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    color: rgba(38, 38, 38, 0.502);
    line-height: 1.8;
    position: absolute;
    padding-left: 15px;
}
input[value="SUBSCRIBE"]{
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.35;
    background-color: rgb(150, 185, 44);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    border: none;
    position: absolute;
    left: 698px;
    top: 4515px;
    width: 170px;
    height: 55px;
}


.blog{
    height: 865px;
    background-color: #b07cf7;
}

.blog_title p{
    color: white;
    font-size: 90px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    line-height: 0.278;
    text-align: right;
    position: absolute;
    left: 573px;
    top: 4724px;
    z-index: 74;
}

.descr_blog {
    position: absolute;
    width: 570px;
    height: 60px;
    top: 4897px;
    left: 410px;
    font-size: 17px;
    font-family: "Raleway", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.471;
    text-align: center;
    width: 563px;
}

.blog_images{  
    height: 315px;
    width: 1170px;
    position: absolute;
    top: 5032px;
    left: 88px;
}

img[src="1day.png"]{
    margin-top: -3px;
}

img[src="2day.png"]{
    position: relative;
    top: -7px;
}

img[src="3day.png"]{
    position: relative;
    top: -7px;
    right: -5px;
}

input[value="VIEW MORE"] {
    width: 200px;
    height: 55px;
    background-color: #f72b3b;
    border: none;
    position: absolute;
    top: 5376px;
}
.contact {
    background-image: url(./contact_bg.png);
    background-repeat: no-repeat;
    height: 866px;
    padding-top: 1px;
}

.cont_title p {
    font-size: 90px;
    color: black;
    font-family: "Raleway", sans-serif;
    color: rgb(38, 38, 38);
    font-weight: bold;
    line-height: 0.278;
    text-align: center;
    position: absolute;
    top: 5590px;
    left: 500px;
}

.cont_descr p {
    font-size: 17px;
    font-family: "Raleway", sans-serif;
    color: rgb(38, 38, 38);
    line-height: 1.471;
    text-align: center;
    position: absolute;
    left: 500px;
    top: 5750px;
    width: 342px;
    height: 41px;
}



.name {
    background-color: #64d0d5;
    opacity: 0.502;
    position: absolute;
    left: 100px;
    top: 5875px;
    width: 500px;
    height: 50px;
    z-index: 24;
    border: none;
    padding-left: 10px;
}
.name:hover{
    background-color: #00c4c4;
    opacity: 1;
    border-left: 5px solid #355b82;
    color: rgb(255, 255, 255);
}

.name p{
    position: absolute;
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: lighter;
    line-height: 1.667;
    text-align: left;
    position: absolute;
    left: 20px;
}

.name p:hover{
    font-weight: bold;
    color: rgb(255, 255, 255);
}


input[name="e-mail"] {
    background-color: #64d0d5;
    opacity: 0.502;
    position: absolute;
    left: 100px;
    top: 5940px;
    width: 500px;
    height: 50px;
    border: none;
    padding-left: 10px;
}
input[name="e-mail"]:hover {
    background-color: #00c4c4;
    opacity: 1;
    border-left: 5px solid #355b82;
    color: rgb(255, 255, 255);
}


.form ::placeholder {
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: lighter;
    line-height: 1.667;
    text-align: left;
    margin-left: 20px;
}

input[name="phone"]{
    background-color: #64d0d5;
    opacity: 0.502;
    position: absolute;
    left: 100px;
    top: 6010px;
    width: 500px;
    height: 50px;
    border: none;
    padding-left: 10px;
}
input[name="phone"]:hover{
    background-color: #00c4c4;
    opacity: 1;
    border-left: 5px solid #355b82;
    color: rgb(255, 255, 255);
}

textarea {
    background-color: #64d0d5;
    opacity: 0.502;
    position: absolute;
    left: 100px;
    top: 6079px;
    width: 500px;
    height: 250px;
    z-index: 12;
    resize: none;
    border: none;
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-left: 15px;
}
textarea:hover{
    background-color: #00c4c4;
    opacity: 1;
    border-left: 5px solid #355b82;
}  
textarea::placeholder{
    padding-top: 10px;
}
/* textarea p:hover{
    font-weight: bolder; */


.address {
    position: absolute;
    top: 5858px;
    left: 751px;
    width: 317px;
    height: 160px;
}

.address p{
    font-size: 17px;
    font-family: "Raleway", sans-serif;
    color: rgb(38, 38, 38);
    line-height: 1.471;
}
.footer{
    background-color: rgb(38, 38, 38);
    position: absolute;
    left: 0px;
    top: 6437px;
    width: 100%;
    height: 90px;
    z-index: 3;
}

img[src="copywrite.png"]{
    margin-top:42px;
    margin-left: 106px;
}
img[src="logo-small.png"]{
    padding-left: 260px;
}
img[src="autograf.png"]{
    padding-left: 341px;
}
      
  